<%- include("templates/header") %>

<div class="box">

    <p>Page not found - 404</p> 
    <br>
    <img src='/saddunk.gif' style="width: 80%;">
    <br>
    <a href='/'>Home</a>
</div>

<%- include("templates/footer") %>