<%- include("templates/header") %>

<h1>Welcome ${username}</h1>
<form action="/members" method="get">
  <button action="/members" method="get">Members Page</button>
</form>
<br />
<form action="/logout" method="get">
  <button action="/logout" method="get">Sign out</button>
</form>

<%- include("templates/footer") %>
