<%- include("templates/header") %>

<div class="box">

    <h1>Welcome to Slam Dunk</h1>
    <br>
    <a href="/members">Members Zones</a>
  <a href="/logout">Logout?</a>

</div>

<%- include("templates/footer") %>