<%- include("templates/header") %>

<div class="box">

<h1>Log in!</h1>
  <form class="form" action='/loginSubmit' method='post'>
  <input name='username' type='text' placeholder='username'>
  <input name='password' type='password' placeholder='password'>
  <br>
  <button>Submit</button>
  </form>
    
</div>

<%- include("templates/footer") %>