<%- include("templates/header") %>

<div class="memberbox">
  <h2>Welcome to Slam Dunk</h2>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img class="memberimage" src="slamdunk.gif">
      </div>
      <div class="col-sm">
        <img class="memberimage" src="slamdunk2.gif">
      </div>
      <div class="col-sm">
        <img class="memberimage" src="slamdunk3.gif">
      </div>
    </div>
  </div>
  <br>
  <a href='/logout'> Sign out</a>
</div>

<%- include("templates/footer") %>