<%- include("templates/header") %>

<div class="box">
    <h1>Welcome</h1>
        <form class="entry" action="/signup" method="get">
            <button>Sign Up</button>
        </form>
        <form class="entry" action="/login" method="get">
            <button>Log In</button>
        </form>
</div>

<%- include("templates/footer") %>

